@import '~bootstrap/scss/bootstrap';

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'Playfair Display SC', serif;
}

.container {
    max-width: 179rem;
    min-height: 50rem;
}

////////////////////////////////////////
//Variables
$color-primary: #D8C060;
$light-grey: #D3D3D3;


/////////////////////////////////////////
// Homepage
.homepage-section {
  position: relative;
  // border: 1px black solid;
  height: 95vh;
  background-color: $light-grey;
}

.homepage-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 65vh;
  width: 65vw;
  background-color: black;
  // border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: space-around;
  text-align: center;

  outline: 1.5rem solid #D8C060;
  outline-offset: 2rem;
}

.homepage-items{
  color: #D8C060;

  &_header {
    font-size: 10rem;
    margin-top: 13rem;
    margin-bottom: 3rem;
  }

  &_tagline {
    font-size: 5rem;
  }

  &_links {
    font-size: 3rem;
    margin-top: 15rem;
    color: white;

    display: flex;
    justify-content: space-around;

    a:link,
    a:visited {
      color: #D8C060;
    }

    a:hover {
      color: #fff;
      font-weight: 500;
    }

  }
}



/////////////////////////////////////////////
// Sign Up + Sign In Form
.signup-section {
  position: relative;
  // border: 1px black solid;
  height: 95vh;
  background-color: $light-grey;

}

.signup-container {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  // width: 50vw;

  height: 55vh;
  width: 35vw;
  // background-color: black;

  outline: 1.5rem solid #D8C060;
  // outline-offset: 2rem;
  // display: flex;
  // justify-content: center;
  // align-items: space-around;
  // text-align: center;
  font-size: 2.5rem;
  font-weight: 600;


  h3 {
    margin-top: 2rem;
    font-size: 5rem;
    text-align: center;
  }

  a:link,
  a:visited {
    display: inline-block;
    text-align: center;
    font-size: 1.75rem;
    color: black;
    margin-left: 13rem;
    margin-top: 2rem;
    font-weight: 500;
  }



  .sign-up {
    font-size: 3rem;
    border: none;

    & input {
      color: black;
      padding: 0 2.5rem;

    }
  }

  .form-label {
    margin-left: 1rem;
  }

  .form-group  {

  input {
    border: none;
    border-bottom: 1px solid black;
    color: black;
    padding: 2rem 0;
    margin-left: 1rem;
  }
}

.form-control {
  color: black;
  font-size: 2rem;
}

}


///////////////////////////////////////////
///Header
.header {
  height: 100vh;
  background-image: url('./img/line3.jpg');
  background-size: cover;
  color: #D8C060;
  font-family: 'Playfair Display SC', serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a:link,
  a:visited {
    color: #fff;
  }

  a:hover {
    color: #D8C060;
    font-weight: 600;
  }
  }

.header_text-box {
  width: 100%;
  // border: 1px white solid;
  // display: inline-block;
  text-align: center;
  margin-top: 3rem;

  display: flex;

  justify-content: space-between;
  align-items: center;

  &-link {
    font-size: 2.5rem;
    padding-right: 3rem;
  }
}

.heading_main {
  font-size: 5rem;
  color: #D8C060;

  margin-left: 3rem;
  margin-right: auto;

}


.header_link-box {
  font-size: 4rem;
  color: #D8C060;
  text-align: center;
  display: flex;
  flex-direction: column;

  margin-bottom: 8rem;
}

.header_link-1{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.header_link-2{


    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover {
    text-decoration: none;
  }
}

/////////////////////////
// Buttons
.homepage-button {
  background: black;
  color: $color-primary;
  border-radius: 100px;
  padding: 1rem 4rem;
  width: 80%;
  margin-top: 2rem;

  margin-left: 10%;
}

.back-btn {
  border: none;
  border-radius: 100rem;
  padding: .25rem 2rem;
  background-color: #157DEC;
  color: white;
  margin-right: 2rem;
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
    color: white;
    text-decoration: none;
  }
}

.update-btn {
  border: none;
  border-radius: 100rem;
  padding: .25rem 2rem;
  background-color: #7BCCB5;
  color: white;
  margin-right: 2rem;

  &:hover {
    transform: scale(1.2);
    color: white;
    text-decoration: none;
  }
}

.delete-btn {
  border: none;
  border-radius: 100rem;
  padding: .25rem 2rem;
  background-color: #E42217;
  color: white;

  &:hover {
    transform: scale(1.2);
    color: white;
    text-decoration: none;
  }
}

.btn {

  &,
  &:link,
  &:visited {
  background-color: white;
  border-radius: 100px;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #777;
  text-decoration: none;

  transition: all .2s;
  position: relative;
}

&:hover {
  box-shadow: 0 2rem 2rem rgba(black, .2);
  transform: translateY(-3px);

  &:active,
  &:focus {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0 .5rem 1rem rgba(black,.2);
  }

  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

  &::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;

  transition: all .4s;
}

&--black {
  display: block;
  background-color: black;
  font-size: 2.8rem;
  margin-top: 2.8rem;

  a {
  color: #D8C060;
}
}

}

//////////////////////////////////////////////
///Bars
.bar-section {
  background-color: white;
  // display: flex;
  // flex-wrap: wrap;


}

.bar_header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  &-quote {
    font-size: 1rem;

  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Playfair SC';

  padding: 12rem 0 1rem 0;
}

    &-author {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Playfair SC';

  }
}


.bar-container {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // background-image: linear-gradient(to right, blue, purple);
}

.bar-item {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  padding: 4rem;
  margin-bottom: 8rem;
    flex: 0 0 33.333%;

  img {
  width: 45rem;
  padding: 1rem;
  height: 50rem;
}
}

///////////////////////////////////////////CARDS
.card {
  background-color: rgba(228, 233, 237, 1);
  border: none;
  width: 45rem;
  padding: 1rem;
  height: 55rem;
  margin-top: 4rem;
  margin-bottom: 12rem;

  perspective: 150rem;
  position: relative;

  &_side {
    width: 45rem;
    padding: 1rem;
    height: 55rem;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 3px;
    // this hides the back of the card from sight
    backface-visibility: hidden;
    transition: all .8s ease;


    &-front {

 //      background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 // background-blend-mode: multiply,multiply;
     background: black;
      color: #D8C060;

      font-family: 'Playfair Display SC', serif;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      outline: 1.5rem solid #D8C060;
      outline-offset: 2rem;
    }


    &-back {
      background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
      transform: rotateY(-180deg);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &:hover &_side-front {
    transform: rotateY(180deg);
  }

  &:hover &_side-back {
    transform: rotateY(0);
  }


/////////////// BACK of card
&_cta {
  color: white;
  text-transform: uppercase;
  font-weight: 700;

  &-rate {
    font-size: 3rem;
  }
  &-price {
    font-size: 12rem;
    margin-bottom: 4rem;
  }
}

///////////////FRONT of card
  &_heading {
    font-size: 8rem;
    line-height: 7rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  &_details {
    font-size: 2.5rem;
  }
}


/////////////////////////////////////////////////////
// PRODUCT PAGE
.product_page {
  padding: 4rem 0 4rem 0;
  height: 100vh;


&_container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
}


  &-card {
      // background-color: black;
      height: 55rem;
      width: 45rem;
      // align-self: flex-end;
      // outline: 1.5rem solid $color-primary;
      //
      // color: $color-primary;
      font-size: 6rem;
      //
      // display: flex;
      // flex-direction: column;
      // justify-content: space-around;
      // align-items: center;
      background: black;
       color: #D8C060;

       font-family: 'Playfair Display SC', serif;
       text-align: center;

       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;

       outline: 1.5rem solid #D8C060;
       outline-offset: 2rem;


  }

  &-description {
    height: 55rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: black;
    margin-top: -2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &_buttons {
    margin-top: 5rem;
    display: flex;
    font-size: 2.25rem;
    text-align: center;

    &-black {
      margin-bottom: -23rem;
    }

  }

  &-name {
    font-size: 6rem;
    font-weight: 600;
    border-bottom: black 2px solid;
  }
}

.header_fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted black;
  font-size: 2.5rem;

  a {
    color: #D8C060;
    font-weight: 600;
  }

  &_logo {
    margin-right: auto;
    font-size: 4rem;
  }
}












///////////////////////// OLD CODE DOWN HERE;

// .added-bar {
//   font-family: 'Playfair Display SC', serif;
//   text-align: center;
//   // margin: auto;
// }

// .page-wrap {
//   border: 1px red solid;
//   height: 100vh;
//   width: 100%;
// }

.hr-grey {
  border: 1px solid grey;
}

.hr-white {
  border: 1px solid white;
}

.hr-large {
  border: 30px solid white;
}


.main-header   {
  font-family: 'Playfair Display SC', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
}

.header-text {
  font-family: 'Playfair Display SC', cursive;
  text-align: center;
}

.added-bar-container {
  display: flex;
  justify-content: space-around;
  // border: 1px solid black;
  // padding-left: 5%;

}


.footer-container {
  align-items: center;
  color: #002366;;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 6%;
  text-align: center;

  .about {
    font-size: 1.35rem;
  }
}

// .div-container {
//   align-items: center;
//   align-content: center;
//   background: linear-gradient(red, yellow);
//   background-image: linear-gradient(#89cff0, blue);
//   border-top: 6px solid white  ;
//   border-bottom: 6px solid ;
//   border-left: 6px solid  #89cff0;
//   border-right: 6px solid  #89cff0;
//   color: white;
//   display: flex;
//   flex-direction: column;
//   height: 500px;
//   justify-content: space-evenly;
//   font-family: 'Playfair Display SC', serif;
//   margin: auto;
//   margin-top: 10%;
//   text-align: center;
//   width: 600px;
//

//
// nav-link {
//   font-size: 5rem;
// }
//
//   .acct-link {
//     color: white;
//     display: inline-flex;
//     z-index: auto;
//   }
// }
//
//
// .homepage-text {
//   font-size: 2.5rem;
// }

.add-my-bar {
  font-size: 1.5rem;
}

// a {
//
//   &:hover {
//     background-color: rgba(51, 102, 255, .5);
//     text-decoration: none;
//   }
//
//   &.create {
//     display: flex;
//     font-size: 20px;
//     justify-content: center;
//     letter-spacing: .4rem;
// }
// }


// Bar Bar

.barpage-container {
  // align-items: flex-end;
  // border: 2px solid red;
  display: flex;
  height: 80vh;
  justify-content: center;
  // flex-direction: row;
  width: 100%;

  // .bar-image {
  //   border: 10px solid rgba( 1, 1, 1, .3);
  //   height: 600px;
  //   margin-right: 20%;
  //   width: 500px;
  // }

  .barpage-items {
    // border: 2px solid blue;
    font-family: 'Playfair Display SC', cursive;
    text-align: center;
    margin-top: 80px;
    width: 600px;
  }

  .barpage-name {
    font-weight: bold;
    font-size: 3.5em;
  }

  .barpage-details {
    // font-weight: bolder;
    font-size: 2em;
  }

  .btn-large {
    font-size: 2em;
    // height: 50px;
  }
}

.btn-large {
  font-size: 1.5em;
  // height: 50px;
}
